<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @receptionist.name %>
</p>

<%= link_to 'Edit', edit_receptionist_path(@receptionist) %> |
<%= link_to 'Back', receptionists_path %>
